<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client.ja" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.cs" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.de" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.es" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.fr" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.i18n" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.it" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.ja" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.ko" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.pl" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.pt-br" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Redis" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Redis.ja" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.ru" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.cs" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.de" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.es" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.fr" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.it" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.ja" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.ko" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.pl" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.pt-br" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.ru" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.tr" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.zh-Hans" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.zh-Hant" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.tr" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.zh-Hans" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.zh-Hant" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="StackExchange.Redis.StrongName" version="1.0.322" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net461" />
</packages>